:root,
.scheme-light {
	/* PALETTE */
	--clr-primary: #ff7050; /* Revolred */
	--clr-primary-dark: #cc5a40; /* Dark Revolred */

	--clr-secondary: #793cce; /* Dimmed Revolred */
	--clr-tertiary: #ffffff; /* White */

	--clr-whispers: #C19342; /* Gold */
	--clr-whispers-text: #0a1921; /* Marine Blue */

	/* INFO PALETTE */
	--clr-danger: #ff0044;
	--clr-danger-shaded: #ffb3c7;
	--clr-danger-darkened: #cc0036;

	--clr-warning: #ffa109;
	--clr-warning-shaded: #ffe3b5;
	--clr-warning-darkened: #cc8007;

	--clr-success: #25e779;
	--clr-success-shaded: #bef8d7;
	--clr-success-darkened: #1eb961;

	--clr-accent: #ff7050;
	--clr-accent-shaded: #FF7E61;
	--clr-accent-darkened: #F26A4C;

	/* PAGE */
	--clr-background-1: #0053ec;
	--clr-background-2: #18ff9f;
	--clr-background-3: #d518ff;
	--clr-page: #f6f6f6ef;

	--clr-text: #102030;
	--clr-muted: #102030c0;

	/* BOXES */
	--clr-surface: #fdfdfdbd;
	--clr-surface-text: #304050;
	--clr-surface-border: #dedede;
	--clr-surface-text-muted: #304050c0;

	/* WIDGETS */
	--clr-widget: #efe8f9;
	--clr-widget-text: #552696;
	--clr-widget-border: #cfb9ee;
	--clr-widget-text-muted: #552696c0;

	/* BUTTONS */
	--clr-button: var(--clr-accent);
	--clr-button-text: #ffffff;

	--clr-button-hover: var(--clr-accent-darkened);
	--clr-button-hover-text: #ffffff;

	--clr-button-active: #fdfdfd;
	--clr-button-active-text: #102030;

	/* INPUTS */
	--clr-input: #00000006;
	--clr-input-text: #102030;
	--clr-input-focus-ring: var(--clr-accent);
}
