@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");

@font-face {
	font-family: "Instrument Sans";
	src: url("/fonts/InstrumentSans-Variable.ttf") format("truetype");
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: url("/fonts/InstrumentSans-Italic-Variable.ttf") format("truetype");
	font-style: italic;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

/** DECLA **/

:root {
	--font-sans: "Instrument Sans", Verdana, sans-serif;
	--font-title: "Outfit", Verdana, sans-serif;
	--font-serif: "Tiro Bangla", "Times New Roman", serif;
	--font-whispers: "Sansita Swashed", "Times New Roman", serif;
}
